<DemoPageSectionComponent Id="Layout-Tabs-TabPage" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        @inject NwindDataService NwindDataService

        @if(Employees == null) {
            <p><em>Loading...</em></p>
        } else {
            <div class="w-100 ch-220">
                <DxTabs SizeMode="Params.SizeMode">
                    @foreach(var employee in Employees) {
                        <DxTabPage Text="@(employee.FirstName + ' ' + employee.LastName)">
                            <div class="d-flex pt-2 demo-employee-card">
                                <div class="flex-shrink-0">
                                    <img src="@(StaticAssetUtils.GetImagePath(employee.ImageFileName))" width="125" alt="@(employee.FullName + " photo")"/>
                                </div>
                                <div class="flex-grow-1 ps-3">
                                    <h5>@employee.Title @employee.FirstName @employee.LastName</h5>
                                    <p><b>Birthday:</b> @employee.BirthDate?.ToShortDateString()</p>
                                    <p>@employee.Notes</p>
                                </div>
                            </div>
                        </DxTabPage>
                    }
                </DxTabs>
            </div>
        }

        @code {
            IEnumerable<Employee> Employees;

            protected override async Task OnInitializedAsync() {
                Employees = (await NwindDataService.GetEmployeesAsync()).Skip(5).Take(3);
            }

        }
    </ChildContentWithParameters>
</DemoPageSectionComponent>
