@using BlazorDemo.Pages.Navigation.Popup
<DemoPageSectionComponent Id="Navigation-DropDown-Position">
    <OptionsContent>
        <OptionComboBox Label="Position Mode:" CssClass="ow-100" Data="@PositionModeSource" @bind-Value="@PositionMode"/>
    </OptionsContent>
    <ChildContent>
        <div id="dropdown-position-target-container">
            <DxButton Click="() => IsOpen = !IsOpen">SHOW A DROPDOWN</DxButton>
        </div>

        <DxDropDown
            @bind-IsOpen="@IsOpen"
            HeaderVisible="true"
            HeaderText="Header"
            BodyText="@Constants.Content"
            Width="max(25vw, 250px)"
            PositionTarget="#dropdown-position-target-container"
            PositionMode="@PositionMode"
            CloseMode="DropDownCloseMode.Close"
            PreventCloseOnPositionTargetClick="true">
        </DxDropDown>
    </ChildContent>

    @code {
        DropDownPositionMode[] PositionModeSource { get; set; } = Enum.GetValues<DropDownPositionMode>().Except(new [] { DropDownPositionMode.Absolute, DropDownPositionMode.AbsolutePoint }).ToArray();
        DropDownPositionMode PositionMode { get; set; } = DropDownPositionMode.Bottom;
        bool IsOpen { get; set; } = false;
    }

</DemoPageSectionComponent>
