@inherits LayoutComponentBase
@implements IDisposable
@inject DemoConfiguration Configuration
<DemoScriptLoader @ref="@scrollHelperFuncLoader"
                  Code="function scrollToElementTop(element) {
                        if (element.scroll)
                            element.scroll(0, 0);
                        else {
                            element.scrollTop = 0;
                            element.scrollLeft = 0;
                        }
                  }

                  function ensureNavigationTargetIsVisible() {
                        var targetSelector = document.location.hash;
                        if(targetSelector) {
                            var demoAnchorLinks = Array.from(document.querySelectorAll('.demo-anchor'));
                            var targetElement = demoAnchorLinks.filter(function(l) { return l.href.toLowerCase() === document.location.href.toLowerCase() && l.href.endsWith(targetSelector); })[0];
                            if(targetElement)
                                targetElement.scrollIntoView();
                        }
                  }">
</DemoScriptLoader>

<nav class="logo-container p-0 navbar navbar-dark">
    <LayoutToggleButton @ref="@toggleButton" @bind-StateCssClass="@LayoutStateCssClass" />
    <NavLink class="logo-image text-body" href="" Match="NavLinkMatch.All" />
    <div class="demo-btn-container d-flex">
        <a class="download-btn navbar-toggler d-inline-block bg-primary text-white border-0" href="https://go.devexpress.com/DevexpressDownload_UniversalTrial.aspx" target="_blank" title="Free Trial">
            <span class="demo-download-icon"></span>
        </a>
        @if(!Configuration.ShowOnlyReporting) {
            <div class="@($"bg-light text-dark d-inline-block theme-settings {ThemeSwitcherShown}")">
                <a class="nav-item nav-link" @onclick="@ToggleThemeSwitcherPanel" @onclick:preventDefault href="#">
                    <span class="demo-theme-icon"></span>
                </a>
            </div>
        }
    </div>
</nav>
<div class="demo-content @LayoutStateCssClass">
    <div class="sidebar">
        <DxScrollView ScriptLoaded="@ScrollToTargetIfNeeded">
            <NavMenuFactoryComponent />
        </DxScrollView>
    </div>
    <div @ref="@mainRef" class="main">
        <div class="content px-4">
            <CascadingValue Value="@ScrollToTargetLocked" Name="ScrollToTargetLocked">
                <CascadingValue Value="@ThemeName" Name="ThemeName">
                    @Body
                </CascadingValue>
            </CascadingValue>
        </div>
        <DemoFooter />
    </div>
    @if(!Configuration.ShowOnlyReporting) {
        <ThemeSwitcher @bind-Shown="@ThemeSwitcherShown" @bind-ThemeName="@ThemeName" />
        <DemoModalBackdrop Shown="@(ThemeSwitcherShown || LayoutStateCssClass == "mobile-sidebar-shown")"
                           ShownChanged="@ModalBackdropShownChanged">
        </DemoModalBackdrop>
    }
</div>
<DemoFooter />
@code {
    DemoScriptLoader scrollHelperFuncLoader;
    LayoutToggleButton toggleButton;
    ElementReference mainRef;

    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] IJSRuntime JsRuntime { get; set; }

    string ThemeName { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await ScrollToMainTopIfNeeded(NavigationManager.Uri);
    }

    async void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        ThemeSwitcherShown = false;
        await ScrollToMainTopIfNeeded(args.Location);
        await InvokeAsync(StateHasChanged);
    }

    string _layoutStateCssClass;

    string LayoutStateCssClass
    {
        get => _layoutStateCssClass;
        set
        {
            if (_layoutStateCssClass != value)
            {
                _layoutStateCssClass = value;
                ThemeSwitcherShown = false;
            }
        }
    }

    async void ModalBackdropShownChanged(bool shown) {
        if(!shown) {
            await toggleButton.ToggleState(false);
            ThemeSwitcherShown = false;
        }
    }

    bool ThemeSwitcherShown { get; set; }

    void ToggleThemeSwitcherPanel()
    {
        ThemeSwitcherShown = !ThemeSwitcherShown;
    }

    async Task ScrollToMainTopIfNeeded(string uri)
    {
        if (string.IsNullOrEmpty(NavigationManager.ToAbsoluteUri(uri).Fragment.Replace("#", "")))
            await scrollHelperFuncLoader.InvokeVoidAsync("scrollToElementTop", mainRef);
    }

    bool ScrollToTargetLocked { get; set; } = true;
    async Task ScrollToTargetIfNeeded() {
        await scrollHelperFuncLoader.InvokeVoidAsync("ensureNavigationTargetIsVisible");
        ScrollToTargetLocked = false;
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose() {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
