<DemoPageSectionComponent Id="Grid-Templates-GroupRow" ShowHorizontalScrollBar="true">
    @inject NwindDataService NwindDataService

    @if(Data == null) {
        <p><em>Loading...</em></p>
    } else {
        <DxGrid @ref="Grid"
                Data="@Data"
                ShowGroupPanel="true"
                UnboundColumnData="Grid_UnboundColumnData"
                CssClass="w-100">
            <Columns>
                <DxGridColumn FieldName="CompanyName" />
                <DxGridColumn FieldName="Country" GroupIndex="0" Width="200px">
                    <GroupRowTemplate>
                        <text>@context.Column.FieldName: @context.GroupValue</text>
                        @{
                            var summaryItems = context.Grid.GetGroupSummaryItems();
                            if(summaryItems.Any()) {
                                <text> (</text>
                                foreach(var i in summaryItems) {
                                    if(i != summaryItems.First()) {
                                        <text>, </text>
                                    }
                                    @context.Grid.GetGroupSummaryLabel(i, context.VisibleIndex)
                                    <text>: </text>
                                    <b>@context.Grid.GetGroupSummaryFormattedValue(i, context.VisibleIndex)</b>
                                }
                                <text>)</text>
                            }
                        }
                    </GroupRowTemplate>
                </DxGridColumn>
                <DxGridColumn FieldName="City" Width="200px" />
                <DxGridColumn FieldName="UnitPrice" DisplayFormat="c" Width="120px" />
                <DxGridColumn FieldName="Quantity" Width="120px" />
                <DxGridColumn FieldName="Total" UnboundType="GridUnboundColumnType.Decimal" DisplayFormat="c" Width="200px" />
            </Columns>
            <GroupSummary>
                <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" FieldName="Total" />
                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="CompanyName" />
            </GroupSummary>
        </DxGrid>
    }
    @code {
        object Data { get; set; }
        IGrid Grid { get; set; }

        protected override async Task OnInitializedAsync() {
            var invoices = await NwindDataService.GetInvoicesAsync();
            var customers = await NwindDataService.GetCustomersAsync();
            Data = invoices.OrderBy(i => i.OrderDate).Join(customers, i => i.CustomerId, c => c.CustomerId, (i, c) => {
                return new {
                    CompanyName = c.CompanyName,
                    City = i.City,
                    Region = i.Region,
                    Country = i.Country,
                    UnitPrice = i.UnitPrice,
                    Quantity = i.Quantity
                };
            });
        }
        void Grid_UnboundColumnData(GridUnboundColumnDataEventArgs e) {
            if(e.FieldName == "Total") {
                decimal price = (decimal)e.GetRowValue("UnitPrice");
                short quantity = (short)e.GetRowValue("Quantity");
                e.Value = price * quantity;
            }
        }
        protected override void OnAfterRender(bool firstRender) {
            if(firstRender)
                Grid.ExpandGroupRow(1);
        }
}
</DemoPageSectionComponent>
