<DemoPageSectionComponent Id="Navigation-TreeView-Templates">
    @*BeginHide*@
    <div class="d-flex flex-row justify-content-center w-100">
    @*EndHide*@
    <DxTreeView Data="@ComponentSets.Data"
                CssClass="demo-treeview-template cw-880"
                @ref="@treeView">
        <DataMappings>
            <DxTreeViewDataMapping Children="ComponentSets" />
        </DataMappings>
        <NodeTemplate>
            @{
                var dataItem = (ComponentSet)context.DataItem;
            }
            @if(!context.IsLeaf) {
                <h4 class="my-0 p-2 d-flex align-items-center">
                    <svg role="img" class="dx-image dx-image-size-07em">
                        <use href="@GetIconUrl(dataItem)" />
                    </svg>
                    <span class="ml-3">@dataItem.Title</span>
                </h4>
            } else {
                <div class="media p-2">
                    <img class="bg-primary rounded-circle mr-3 treeview-template-icon" src="@dataItem.ImageUrl" alt="@dataItem.Title" />
                    <div class="media-body">
                        <h5 class="mt-0">@dataItem.Title</h5>
                        @dataItem.Description
                    </div>
                </div>
            }
        </NodeTemplate>
    </DxTreeView>
    @*BeginHide*@
    </div>
    @*EndHide*@
    @code {
        @*BeginCollapse*@
        DxTreeView treeView;
        string GetIconUrl(ComponentSet nodeDataItem) {
            string name = treeView.GetNodeExpanded(n => n.DataItem == nodeDataItem) ? "down" : "right";
            return $"_content/DevExpress.Blazor/dx-blazor.svg#dx-chevron-{name}";
        }
        
        protected override Task OnAfterRenderAsync(bool firstRender) {
            if(firstRender)
                treeView.ExpandAll();
            return base.OnAfterRenderAsync(firstRender);
        }
        @*EndCollapse*@
    }
</DemoPageSectionComponent>
