<DemoPageSectionComponent Id="Grid-Grouping-GroupData" ShowHorizontalScrollBar="true">
    <ChildContent>
        @inject NwindDataService NwindDataService

        @if(Data == null) {
            <p><em>Loading...</em></p>
        } else {
            <DxGrid @ref="Grid"
                    Data="@Data"
                    ShowGroupPanel="true"
                    AutoExpandAllGroupRows="true"
                    CssClass="w-100">
                <Columns>
                    <DxGridColumn FieldName="ContactName" />
                    <DxGridColumn FieldName="CompanyName" />
                    <DxGridColumn FieldName="City" Width="200px" />
                    <DxGridColumn FieldName="Region" Width="120px" />
                    <DxGridColumn FieldName="Country" GroupIndex="0" Width="200px" />
                </Columns>
            </DxGrid>
        }

        @code {
            object Data { get; set; }
            Dictionary<string, string[]> GroupInfo { get; } = new Dictionary<string, string[]> {
                { "Country", new string[] { "Country" } },
                { "Country, City", new string[] { "Country", "City" } },
                { "Company Name", new string[] { "CompanyName" } }
            };
            string CurrentGroupInfoKey { get; set; } = "Country";
            IGrid Grid { get; set; }

            protected override async Task OnInitializedAsync() {
                Data = await NwindDataService.GetCustomersAsync();
            }
            protected void OnGroupingChanged(string key) {
                CurrentGroupInfoKey = key;
                var currentGroupInfo = GroupInfo[key];

                Grid.BeginUpdate();
                Grid.ClearSort();
                foreach(var columnName in currentGroupInfo)
                    Grid.GroupBy(columnName);
                Grid.EndUpdate();
            }
        }
    </ChildContent>
    <OptionsContent>
        <OptionComboBox Label="Group by:" Data="@GroupInfo.Keys" Value="@CurrentGroupInfoKey" ValueChanged="@((string value) => OnGroupingChanged(value))" />
        <OptionButton Text="Collapse All Rows" OnClick="@(() => Grid.CollapseAllGroupRows())" />
        <OptionButton Text="Expand All Rows" OnClick="@(() => Grid.ExpandAllGroupRows())" />
    </OptionsContent>
</DemoPageSectionComponent>
