<DemoPageSectionComponent Id="DataGrid-Editing-EditModes" ShowHorizontalScrollBar="true">
    <ChildContent>
        @inject NwindDataService NwindDataService

        @if(Data == null) {
            <p><em>Loading...</em></p>
        } else {
            <DxDataGrid @ref="@grid"
                        Data="@Data"
                        RowRemovingAsync="@OnRowRemovingAsync"
                        RowUpdatingAsync="@OnRowUpdatingAsync"
                        RowInsertingAsync="@OnRowInsertingAsync"
                        InitNewRow="@OnInitNewRowAsync"
                        CssClass="w-100"
                        PageSize="100"
                        ShowPager="false"
                        KeyFieldName="@nameof(Employee.EmployeeId)"
                        EditMode="@CurrentEditMode">
                <DxDataGridCommandColumn Width="120px" />
                <DxDataGridColumn Field="@nameof(Employee.FirstName)" />
                <DxDataGridColumn Field="@nameof(Employee.LastName)" />
                <DxDataGridColumn Field="@nameof(Employee.Title)" />
                <DxDataGridColumn Field="@nameof(Employee.TitleOfCourtesy)" Width="150px" />
                <DxDataGridDateEditColumn Field="@nameof(Employee.BirthDate)" Width="150px" />
                <DxDataGridDateEditColumn Field="@nameof(Employee.HireDate)" Width="150px" />
            </DxDataGrid>
        }
    </ChildContent>
    <OptionsContent>
        <OptionComboBox Label="Edit Mode:" Data="@EditModes" @bind-Value="CurrentEditMode" />
    </OptionsContent>

    @code {
        IEnumerable<Employee> Data { get; set; }
        DxDataGrid<Employee> grid;

        IEnumerable<DataGridEditMode> EditModes { get; } = Enum.GetValues(typeof(DataGridEditMode)).Cast<DataGridEditMode>();

        DataGridEditMode currentEditMode = DataGridEditMode.EditForm;
        DataGridEditMode CurrentEditMode {
            get => currentEditMode;
            set {
                if(currentEditMode != value) {
                    currentEditMode = value;
                    CancelEdit();
                }
            }
        }

        protected override async Task OnInitializedAsync() {
            Data = await NwindDataService.GetEmployeesEditableAsync();
        }
        protected override async Task OnAfterRenderAsync(bool firstRender) {
            if(firstRender) {
                var editableSupplier = Data.FirstOrDefault();
                await grid.StartRowEdit(editableSupplier);
            }
        }
        async Task OnRowRemovingAsync(Employee dataItem) {
            await NwindDataService.RemoveEmployeeAsync(dataItem);
            Data = await NwindDataService.GetEmployeesEditableAsync();
            StateHasChanged();
        }
        async Task OnRowUpdatingAsync(Employee dataItem, IDictionary<string, object> newValues) {
            await NwindDataService.UpdateEmployeeAsync(dataItem, newValues);
            Data = await NwindDataService.GetEmployeesEditableAsync();
            StateHasChanged();
        }
        async Task OnRowInsertingAsync(IDictionary<string, object> newValues) {
            await NwindDataService.InsertEmployeeAsync(newValues);
            Data = await NwindDataService.GetEmployeesEditableAsync();
            StateHasChanged();
        }
        async Task OnInitNewRowAsync(Dictionary<string, object> values) {
            values.Add(nameof(Employee.FirstName), "John");
            values.Add(nameof(Employee.LastName), "Doe");
            await Task.CompletedTask;
        }
        void CancelEdit() {
            var cancelTask = Task.Run(async () => await grid.CancelRowEdit());
            cancelTask.GetAwaiter().GetResult();
        }
    }
</DemoPageSectionComponent>
