<DemoPageSectionComponent Id="DataGrid-PagingAndScrolling-VirtualScrolling" ShowHorizontalScrollBar="true">
    @inject ProductsFlatService ProductsFlatService

    @if(DataSource == null) {
        <p><em>Loading...</em></p>
    } else {
        <DxDataGrid Data="@DataSource"
                    DataNavigationMode="DataGridNavigationMode.VirtualScrolling">
            <DxDataGridColumn Field="@nameof(ProductFlat.Id)" Caption="ID" Width="50px" />
            <DxDataGridColumn Field="@nameof(ProductFlat.ProductName)" Caption="Product Name" />
            <DxDataGridColumn Field="@nameof(ProductFlat.Category)" Caption="Category" Width="180px" />
            <DxDataGridColumn Field="@nameof(ProductFlat.Subcategory)" Caption="Subcategory" Width="180px" />
            <DxDataGridDateEditColumn Field="@nameof(ProductFlat.LastUpdated)" Caption="Last Updated" Width="150px" />
            <DxDataGridColumn Field="@nameof(ProductFlat.Availability)" Caption="Availability" Width="110px">
                <DisplayTemplate>
                    @{
                        var id = Guid.NewGuid().ToString();
                        var inStock = (context as ProductFlat).Availability;
                        <DxCheckBox Id="@id" Checked="@inStock" Enabled="false">
                            @if(inStock) {
                                <label class="form-check-label text-success" for="@id"><span>In stock</span></label>
                            } else {
                                <label class="form-check-label text-danger" for="@id"><span>Sold out</span></label>
                            }
                        </DxCheckBox>
                    }
                </DisplayTemplate>
            </DxDataGridColumn>
        </DxDataGrid>
    }

    @code {
        IEnumerable<ProductFlat> DataSource;

        protected override async Task OnInitializedAsync() {
            DataSource = await ProductsFlatService.GetProductsAsync();
        }
    }
</DemoPageSectionComponent>
