<DemoPageSectionComponent Id="DataGrid-PagingAndScrolling-VirtualScrolling" ShowHorizontalScrollBar="true">
    @inject NwindDataService NwindDataService

    @if(DataSource == null) {
        <p><em>Loading...</em></p>
    } else {
        <DxDataGrid Data="@DataSource"
                    DataNavigationMode="DataGridNavigationMode.VirtualScrolling"
                    VerticalScrollableHeight="300">
            <DxDataGridColumn Field="@nameof(Order.ShipName)" />
            <DxDataGridColumn Field="@nameof(Order.ShipCity)" />
            <DxDataGridColumn Field="@nameof(Order.ShipPostalCode)" />
            <DxDataGridColumn Field="@nameof(Order.ShipCountry)" />
            <DxDataGridColumn Field="@nameof(Order.Freight)" Width="80px" />
            <DxDataGridDateEditColumn Field="@nameof(Order.OrderDate)" DisplayFormat="d" Width="120px" />
            <DxDataGridDateEditColumn Field="@nameof(Order.ShippedDate)" DisplayFormat="d" Width="120px" />
        </DxDataGrid>
    }

    @code {
        IEnumerable<Order> DataSource { get; set; }

        protected override async Task OnInitializedAsync() {
            DataSource = await NwindDataService.GetOrdersAsync();
        }
    }
</DemoPageSectionComponent>
