@inject NwindDataService NwindDataService
<DemoPageSectionComponent Id="Layout-FormLayout-Groups"
                          VerticalAlignment="VerticalAlignment.Top"
                          ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <DxFormLayout SizeMode="Params.SizeMode"
                      CssClass="w-100">
            <DxFormLayoutGroup Caption="Personal Information" ColSpanMd="6">
                <DxFormLayoutItem Caption="First Name:" ColSpanMd="12">
                    <DxTextBox @bind-Text="@FirstName" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Last Name:" ColSpanMd="12">
                    <DxTextBox @bind-Text="@LastName" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Birth Date:" ColSpanMd="12">
                    <DxDateEdit @bind-Date="@BirthDate" />
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
            <DxFormLayoutGroup ColSpanMd="6">
                <HeaderContentTemplate>
                    <div>
                        Work Information
                    </div>
                    <div class="demo-unemployed-checkbox-container">
                        <DxCheckBox CssClass="demo-unemployed-checkbox" CheckedChanged="@((bool t) => UnemployedChanged(t))" LabelPosition="LabelPosition.Left" Checked="@Unemployed">Unemployed</DxCheckBox>
                    </div>
                </HeaderContentTemplate>
                <Items>
                    <DxFormLayoutItem Caption="Position:" ColSpanMd="12">
                        <DxTextBox @bind-Text="@Position" Enabled="!Unemployed" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Hire Date:" ColSpanMd="12">
                        <DxDateEdit @bind-Date="@HireDate" Enabled="!Unemployed" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Postal code:" ColSpanMd="12">
                        <DxTextBox @bind-Text="@PostalCode" Enabled="!Unemployed" />
                    </DxFormLayoutItem>
                </Items>
            </DxFormLayoutGroup>
            <DxFormLayoutGroup ColSpanMd="12" Caption="Description" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                <DxFormLayoutItem ColSpanMd="12">
                    <DxMemo @bind-Text="Notes" Rows="4"/>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
        </DxFormLayout>

        <div class="w-100 mx-0">
            <p class="demo-text col-12 mt-2">
                @nameof(FirstName)=<b>@FirstName</b>,
                @nameof(LastName)=<b>@LastName</b>,
                @nameof(BirthDate)=<b>@BirthDate</b>
            </p>
        </div>
        <div class="w-100 mx-0">
            <p class="demo-text col-12 mt-2">
                @nameof(Position)=<b>@Position</b>,
                @nameof(HireDate)=<b>@HireDate</b>,
                @nameof(PostalCode)=<b>@PostalCode</b>
            </p>
        </div>
    </ChildContentWithParameters>

    @code {
        static Employee employee;
        string FirstName { get; set; }
        string LastName { get; set; }
        DateTime BirthDate { get; set; }
        string Position { get; set; }
        DateTime? HireDate { get; set; }
        string PostalCode { get; set; }
        string Notes { get; set; }
        bool Unemployed { get; set; }
        void UnemployedChanged(bool value) {
            if(value) {
                Position = PostalCode = null;
                HireDate = null;
            }
            Unemployed = value;
        }

        protected override async Task OnInitializedAsync() {
            IEnumerable<Employee> dataSource = await NwindDataService.GetEmployeesAsync();
            employee = dataSource.Select(e => e).First(e => e.FullName == "Andrew Fuller");
            FirstName = employee.FirstName;
            LastName = employee.LastName;
            BirthDate = employee.BirthDate ?? DateTime.Now.AddYears(-20);
            Position = employee.Title;
            HireDate = employee.HireDate ?? DateTime.Now.AddYears(-20);
            Notes = employee.Notes;
            PostalCode = employee.PostalCode;
        }

    }
</DemoPageSectionComponent>
