<CodeSnippetTabbed DocLink="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxTabs#tab-pages">
    <CodeSnippetTabPage Text="Razor">
@(@"<DxTabs>
    @foreach (var employee in Employees)
    {
        <DxTabPage Text=""@(employee.FirstName + ' ' +  employee.LastName)"">
            <div class=""media demo-tab-page-content"">
                <img src=""@(StaticAssetUtils.GetImagePath($""Employees/{employee.FileName}.png""))"" width=""125"" />
                <div class=""media-body pl-3"">
                    <h5 class=""mt-0"">@employee.Title @employee.FirstName @employee.LastName</h5>
                    <p><b>Birthday:</b> @employee.BirthDate.ToShortDateString()</p>
                    <p>@employee.Notes</p>
                </div>
            </div>
        </DxTabPage>
    }
</DxTabs>
@code {
    IEnumerable<Employee> Employees;

    protected override async Task OnInitializedAsync()
    {
        Employees = (await EmployeeService.Load()).Skip(5).Take(3);
    }
}
")
    </CodeSnippetTabPage>
    <CodeSnippetTabPage Text="Employee">
@(@"public class Employee {
    public string Title { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string Position { get; set; }
    public DateTime BirthDate { get; set; }
    public DateTime HireDate { get; set; }
    public string Notes { get; set; }
    public string FileName { get; set; }
}
")
    </CodeSnippetTabPage>
</CodeSnippetTabbed>
