<DemoPageSectionComponent Id="Editors-CheckBox-Switch">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <DxCheckBox CheckType="CheckType.Switch"
                            LabelPosition="LabelPosition.Left"
                            Checked="@SilentMode"
                            CheckedChanged="@((bool t) => CheckedChanged(t))"
                            Alignment="CheckBoxContentAlignment.SpaceBetween">
                    Silent Mode
                </DxCheckBox>
            </li>
            <li class="list-group-item">
                <DxCheckBox CheckType="CheckType.Switch"
                            LabelPosition="LabelPosition.Left"
                            @bind-Checked="@Sound"
                            Enabled="@Enabled"
                            Alignment="CheckBoxContentAlignment.SpaceBetween">
                    Enable sound
                </DxCheckBox>
            </li>
            <li class="list-group-item">
                <DxCheckBox CheckType="CheckType.Switch"
                            LabelPosition="LabelPosition.Left"
                            @bind-Checked="@Vibration"
                            Enabled="@Enabled"
                            Alignment="CheckBoxContentAlignment.SpaceBetween">
                    Enable vibration
                </DxCheckBox>
            </li>
        </ul>
    </div>

    @code {
        bool Enabled { get; set; } = false;

        bool SilentMode { get; set; } = true;
        bool Sound { get; set; } = true;
        bool Vibration { get; set; } = false;

        void CheckedChanged(bool value) {
            SilentMode = value;
            Enabled = !value;
        }
    }
</DemoPageSectionComponent>
