@page "/"
@layout MainLayout

@using BlazorDemo.Configuration
@inject DemoConfiguration Configuration
@inject DemoThemeService Themes
@inject NavigationManager NavigationManager

@{
    RenderFragment<DemoProductInfo> DemoProduct = (info) =>
    @<div class="col-xl-4 col-sm-6 col-xs-12">
        <a class="shadow-sm rounded-3 demo-product" href="@info.PageUri">
            <div class="d-flex p-2">
                <span class="flex-shrink-0 me-3 text-body demo-product-icon demo-product-icon-@info.IconName" title="@info.Title"></span>
                <div class="flex-grow-1">
                    <h5 class="mt-0 text-body">@info.Title</h5>
                    <span class="demo-product-info text-body">@info.Description</span>
                </div>
            </div>
        </a>
    </div>;
}

<div class="demo-products demo-products-description theme-@Themes.ActiveTheme.Name.Replace(" ", "-")">
    <h1 class="mb-4">DevExpress UI Components for Blazor</h1>
    <p class="mb-5">The <a href="https://www.devexpress.com/blazor/" target="_blank">DevExpress Blazor UI component suite</a> ships with a comprehensive suite of native Blazor components (including a DataGrid, Scheduler, Chart, Data Editors, Rich Text Editor, and Reporting). To learn more about the capabilities of our Blazor UI controls (for both Blazor Server and Blazor WebAssembly), select a product from the list below. DevExpress Blazor UI controls ship as part of the DevExpress ASP.NET Subscription.</p>

    <div class="row mb-3">
        @foreach(var info in Configuration.Products) {
            @DemoProduct.Invoke(info)
        }
    </div>
</div>

<h2 class="mb-4">Getting Started</h2>

<p>
    Refer to the following online resources to get started with DevExpress Blazor components:
</p>

<ul>
    <li><a href="https://docs.devexpress.com/Blazor/401055/prerequisites" target="_blank">Set up your Environment</a></li>
    <li><a href="https://docs.devexpress.com/Blazor/401058/demos#run-demos-locally" target="_blank">Run this demo on your machine</a></li>
    <li><a href="https://docs.devexpress.com/Blazor/401057/get-started" target="_blank">Create and configure a new project</a></li>
</ul>

<h2 class="my-4">Helpful Resources</h2>

<p>
    Our components come with extensive reference material, documentation, examples and step-by-step instructions. This material will help you not only start using our products from scratch, but also learn about all of their capabilities much faster.
</p>

<ul>
    <li><a href="https://docs.devexpress.com/Blazor/400725/blazor-components" target="_blank">Documentation</a></li>
    <li><a href="https://supportcenter.devexpress.com/ticket/list?preset=971248ea-952a-45d0-98e3-8b227de870f4" target="_blank">Examples</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PL8h4jt35t1wiA7rjbbJQ0sYpsSghc7XYJ" target="_blank">Videos</a></li>
    <li><a href="https://github.com/DevExpress/Blazor/" target="_blank">GitHub repository</a></li>
    <li><a href="https://github.com/DevExpress/Blazor/tree/master/tools/DevExpress.Blazor.DocumentMetadata" target="_blank">Document metadata tool</a></li>
    <li><a href="https://github.com/DevExpress/Blazor/tree/master/tools/DevExpress.Blazor.AnchorUtils" target="_blank">Anchor navigation tool</a></li>
    <li><a href="https://www.devexpress.com/support/training/blazor/" target="_blank">Free Blazor training course</a></li>
    <li><a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/" target="_blank">Official Blazor documentation</a></li>
</ul>

<h2 class="my-4">Troubleshooting</h2>

<p>
    Need help or require more information? Explore the <a href="https://docs.devexpress.com/Blazor/401608/troubleshooting" target="_blank">Troubleshooting</a> help topic or submit your support inquiries via the <a href="https://supportcenter.devexpress.com/" target="_blank">DevExpress Support Center</a> for assistance.
</p>

@code {
    public override async Task SetParametersAsync(ParameterView parameters) {
        if(Configuration.ShowOnlyReporting)
            NavigationManager.NavigateTo("ReportViewer/InvoiceReport");
        else
            await base.SetParametersAsync(parameters);
    }
}
