@page "/GridSortData"
@layout DataProviderAccessArea<IFlatProductsProvider>
@inject IFlatProductsProvider FlatProductService

<div class="demo-description mw-1100">
    <h2>Data Grid - Sort Data</h2>
    <p>
        Users can <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1#sort-data">sort grid data</a> by clicking the required column header.
        An arrow glyph indicates the sort order within the corresponding column values.
        The grid can also be sorted against multiple columns.
        To do so, click the required column headers with the <kbd>Shift</kbd> key pressed.
    </p>
    <p>
        To disable sorting data within the entire grid, set the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1.AllowSort">DxDataGrid.AllowSort</a> property to <b>false</b>.
        To control an individual column’s sorting, use the following properties provided by Data Grid column objects:
    </p>
    <ul>
        <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGridColumn.AllowSort">AllowSort</a> - Specifies whether users can sort data by the column's values.</li>
        <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGridColumn.SortOrder">SortOrder</a> - Specifies a column sort order.</li>
        <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGridColumn.SortIndex">SortIndex</a> - Specifies a column position among sorted columns.</li>
    </ul>
    <p>
        In this demo, the <b>ID</b> column values cannot be sorted.
        Sort orders for the <b>Category</b> and <b>Subcategory</b> columns are declared in a component markup (see the code below).
        However, a user can change a column sort order by clicking the column header.
    </p>
</div>

<DxDataGrid DataAsync="@FlatProductService.LoadAsync" CssClass="mw-1100">
    <DxDataGridColumn Field="@nameof(ProductFlat.Id)" Caption="ID" AllowSort="@false" Width="50px"></DxDataGridColumn>
    <DxDataGridColumn Field="@nameof(ProductFlat.Category)" SortOrder="@DataGridColumnSortOrder.Descending" Width="350px" SortIndex="0"></DxDataGridColumn>
    <DxDataGridColumn Field="@nameof(ProductFlat.Subcategory)" SortOrder="@DataGridColumnSortOrder.Ascending" Width="350px" SortIndex="1"></DxDataGridColumn>
    <DxDataGridColumn Field="@nameof(ProductFlat.ProductName)" Caption="Product Name" Width="350px"></DxDataGridColumn>
</DxDataGrid>

<CodeSnippet_Grid_SortData></CodeSnippet_Grid_SortData>
