@page "/GridFilterRow"
@inject WeatherForecastService ForecastService

<div class="demo-description mw-1100">
    <h2>Data Grid - Filter Row</h2>
    <p>
        The <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1#filter-data">Filter Row</a> allows users to filter data as they type text in cells. An additional drop-down menu also displays a list of filter conditions.
    </p>
    <p>
        Set the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxDataGridBase-1.ShowFilterRow">ShowFilterRow</a> property to <b>true</b> to display the Filter Row in the Data Grid.
    </p>
</div>

@if (Orders == null)
{
    <p><em>Loading...</em></p>
}
else
{
<DxDataGrid Data="@Orders"
            ShowFilterRow="true"
            CssClass="mw-1100">
    <DxDataGridDateEditColumn Field="@nameof(Order.OrderDate)"
                              DisplayFormat="D"
                              Width="240px">
    </DxDataGridDateEditColumn>
    <DxDataGridComboBoxColumn Field="@nameof(Order.ShipRegionID)"
                              Caption="Ship Region"
                              Data="@ShipRegions"
                              ValueFieldName="@nameof(ShipRegion.RegionID)"
                              TextFieldName="@nameof(ShipRegion.Name)"
                              Width="250px">
    </DxDataGridComboBoxColumn>
    <DxDataGridSpinEditColumn Field="@nameof(Order.UnitPrice)"
                              DisplayFormat="c"
                              Width="120px">
    </DxDataGridSpinEditColumn>
    <DxDataGridColumn Field="@nameof(Order.Product)">
    </DxDataGridColumn>

    <DxDataGridCheckBoxColumn Field="@nameof(Order.OrderStatus)"
                              FilterTextChecked="Delivered"
                              FilterTextUnchecked="Processing"
                              FilterTextIndeterminate="In transit"
                              ValueChecked="@OrderStatus.Delivered"
                              ValueUnchecked="@OrderStatus.Processing"
                              ValueIndeterminate="@OrderStatus.InTransit"
                              Caption="Order Status">
    </DxDataGridCheckBoxColumn>
    <DxDataGridCommandColumn NewButtonVisible="false"
                             EditButtonVisible="false"
                             DeleteButtonVisible="false"
                             Width="70px">
    </DxDataGridCommandColumn>
</DxDataGrid>

    <CodeSnippet_Grid_FilterRow></CodeSnippet_Grid_FilterRow>

}
@code {
    IEnumerable<Order> Orders;
    IEnumerable<ShipRegion> ShipRegions;

    protected override async Task OnInitializedAsync()
    {
        Orders = await OrderRepository.Load();
        ShipRegions = await ShipRegionRepository.Load();
    }
}
