<div class="code-snippet card demo-card-wide mw-1100">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted">
        <CodeSnippet>
            @(@"
<DxDataGrid ...
            Data=""@supplierService.GetSuppliersAsync""
            RowRemovingAsync=""@OnRowRemoving""
            RowUpdatingAsync=""@OnRowUpdating""
            RowInsertingAsync=""@OnRowInserting""
            InitNewRow=""@OnInitNewRow""
            EditMode=""@CurrentEditMode"">
    <DxDataGridCommandColumn Width=""100px"" />
    <DxDataGridColumn Field=""@nameof(Supplier.SupplierName)"" />
    <DxDataGridComboBoxColumn Field=""@nameof(Supplier.SupplierCategoryID)""
                              Caption=""Category""
                              DataAsync=""@supplierService.GetSupplierCategoriesAsync""
                              ValueFieldName=""@nameof(SupplierCategory.SupplierCategoryID)""
                              TextFieldName=""@nameof(SupplierCategory.SupplierCategoryName)"" />
    <DxDataGridComboBoxColumn Field=""@nameof(Supplier.DeliveryMethodID)""
                              Caption=""Delivery Method""
                              DataAsync=""@supplierService.GetDeliveryMethodsAsync""
                              ValueFieldName=""@nameof(DeliveryMethod.DeliveryMethodID)""
                              TextFieldName=""@nameof(DeliveryMethod.DeliveryMethodName)"" />
    <DxDataGridColumn Field=""@nameof(Supplier.PhoneNumber)"" Caption=""Phone Number"" />
    <DxDataGridColumn Field=""@nameof(Supplier.BankAccountBranch)"" />
    <DxDataGridColumn Field=""@nameof(Supplier.BankAccountNumber)"" />
</DxDataGrid>

@code {
    DataGridEditMode CurrentEditMode { get; set; } = DataGridEditMode.EditForm;
    Task OnRowRemoving(Supplier dataItem) {
        return supplierService.Remove(dataItem);
    }
    Task OnRowUpdating(Supplier dataItem, IDictionary<string, object> newValue) {
        return supplierService.Update(dataItem, newValue);
    }
    Task OnRowInserting(IDictionary<string, object> newValue) {
        return supplierService.Insert(newValue);
    }
    Task OnInitNewRow(Dictionary<string, object> values) {
        values.Add(""SupplierCategoryID"", 1);
        values.Add(""DeliveryMethodID"", 1);
        values.Add(""PhoneNumber"", ""(000) 000-0000"");
        values.Add(""BankAccountNumber"", ""0000000000"");
        ...
        return Task.CompletedTask;
    }
    ...
}")
        </CodeSnippet>
    </div>
</div>
