<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted">
        <CodeSnippet>
@(@"<DxPivotGrid Data=""@GridData"" ShowGrandTotals=""@ShowGrandTotals"" ShowFieldHeaders=""@ShowFieldHeaders"">
    <DxPivotGridField Field=""@nameof(SaleInfo.Region)"" SortOrder=""@PivotGridSortOrder.Ascending"" Area=""@PivotGridFieldArea.Row""></DxPivotGridField>
    <DxPivotGridField Field=""@nameof(SaleInfo.Country)"" Area=""@PivotGridFieldArea.Row""></DxPivotGridField>
    <DxPivotGridField Field=""@nameof(SaleInfo.City)"" Area=""@PivotGridFieldArea.Row""></DxPivotGridField>
    <DxPivotGridField Field=""@nameof(SaleInfo.Date)"" GroupInterval=""@PivotGridGroupInterval.Year"" Area=""@PivotGridFieldArea.Column"" Caption=""Year""></DxPivotGridField>
    <DxPivotGridField Field=""@nameof(SaleInfo.Date)"" GroupInterval=""@PivotGridGroupInterval.Quarter"" Area=""@PivotGridFieldArea.Column"" Caption=""Quarter"">
        <HeaderTemplate>
            @($""Q{context}"")
        </HeaderTemplate>
    </DxPivotGridField>
    <DxPivotGridField Field=""@nameof(SaleInfo.Date)"" GroupInterval=""@PivotGridGroupInterval.Month"" Area=""@PivotGridFieldArea.Column"" Caption=""Month"">
        <HeaderTemplate>
            @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((int)context)
        </HeaderTemplate>
    </DxPivotGridField>
    <DxPivotGridField Field=""@nameof(SaleInfo.Amount)"" Area=""@PivotGridFieldArea.Data"" SummaryType=""@PivotGridSummaryType.Sum"">
        <DataTemplate>
            <span class=""@((decimal)context > 100000 ? ""text-success"" : ""text-danger"")"">
                @string.Format(""{0:c0}"", context)
            </span>
        </DataTemplate>
    </DxPivotGridField>
    <DxPivotGridField Field=""@nameof(SaleInfo.OrderId)"" Caption=""Count"" Area=""@PivotGridFieldArea.Data"" SummaryType=""@PivotGridSummaryType.Count"">
        <DataTemplate>
            <span class=""font-weight-bold"">@context</span>
        </DataTemplate>
    </DxPivotGridField>
</DxPivotGrid>")
        </CodeSnippet>
    </div>
</div>
