<CodeSnippet>
@(@"<EditForm Model=""@starship"" OnValidSubmit=""@HandleValidSubmit"" OnInvalidSubmit=""@HandleInvalidSubmit"">
    <DataAnnotationsValidator />

    <p>
        <label for=""identifier"">Identifier: </label>
        <DxTextBox Id=""identifier"" bind-Text=""@starship.Identifier"" />
        <ValidationMessage For=""@(() => starship.Identifier)"" />
    </p>
    <p>
        <label for=""classification"">Primary Classification: </label>
        <DxComboBox Id=""classification"" NullText=""Select classification ...""
                    Data=@(new List<string>() { null, ""Defense"", ""Exploration"", ""Diplomacy"" })
                    bind-SelectedItem=""@starship.Classification"" />
        <ValidationMessage For=""@(() => starship.Classification)"" />
    </p>
    <p>
        <label for=""accommodation"">Maximum Accommodation: </label>
        <DxSpinEdit Id=""accommodation"" bind-Value=""@starship.MaximumAccommodation"" />
        <ValidationMessage For=""@(() => starship.MaximumAccommodation)"" />
    </p>
    <p>
        <label for=""productionDate"">Production Date: </label>
        <DxDateEdit bind-Date=""@starship.ProductionDate"" />
        <ValidationMessage For=""@(() => starship.ProductionDate)"" />
    </p>

    <button type=""submit"">Submit</button>

    <ValidationSummary />

</EditForm>
    
@functions {
    private Starship starship = new Starship();

    private void HandleValidSubmit()
    {
        Console.WriteLine(""OnValidSubmit"");
    }
    private void HandleInvalidSubmit()
    {
        Console.WriteLine(""OnInvalidSubmit"");
    }
}")
</CodeSnippet>