@inject SupplierService supplierService

<div class="demo-description mw-1100" id="EditModes">
    <h2><DemoNavLink Link="GridEditData#EditModes" />Data Grid - Edit Modes</h2>
    <p>
        The <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1">Data Grid</a> allows users to add, edit, and remove data rows.
    </p>
    <p>
        <ol>
            <li>Add <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGridCommandColumn">DxDataGridCommandColumn</a> to the Data Grid. This column displays the <strong>New</strong>, <strong>Edit</strong>, and <strong>Delete</strong> command buttons.</li>
            <li>
                Handle the following events to post changes to an underlying data source:
                <ul>
                    <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1.RowInserting">RowInserting</a>/<a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1.RowInsertingAsync">RowInsertingAsync</a> - Fires when a user adds a new row.</li>
                    <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1.RowUpdating">RowUpdating</a>/<a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1.RowUpdatingAsync">RowUpdatingAsync</a> - Fires when a user updates a data row.</li>
                    <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1.RowRemoving">RowRemoving</a>/<a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1.RowRemovingAsync">RowRemovingAsync</a> - Fires when a user deletes a data row.</li>
                </ul>
            </li>
            <li>Handle the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1.InitNewRow">InitNewRow</a> event to initialize new data rows.</li>
        </ol>
    </p>
    <p>
        The Data Grid supports different edit modes. Use the <strong>Edit Mode</strong> option below (corresponds to the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1.EditMode">EditMode</a> property) to switch between available modes.
    </p>
    <ul>
        <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DataGridEditMode">DataGridEditMode.EditForm</a> – The Data Grid displays the edit form instead of the edited row.</li>
        <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DataGridEditMode">DataGridEditMode.PopupEditForm</a> – The Data Grid displays the edit form in a pop-up window.</li>
    </ul>
</div>
<div class="option-container">
    <span>Edit Mode: </span>
    <DxComboBox Data="@EditModes" @bind-Value="CurrentEditMode"></DxComboBox>
</div>

<DxDataGrid @ref="@grid"
            DataAsync="@supplierService.GetSuppliersAsync"
            RowRemovingAsync="@OnRowRemoving"
            RowUpdatingAsync="@OnRowUpdating"
            RowInsertingAsync="@OnRowInserting"
            InitNewRow="@OnInitNewRow"
            CssClass="mw-1100"
            PageSize="100"
            ShowPager="false"
            EditMode="@CurrentEditMode">
    <DxDataGridCommandColumn Width="100px"></DxDataGridCommandColumn>
    <DxDataGridColumn Field="@nameof(Supplier.SupplierName)" />
    <DxDataGridComboBoxColumn Field="@nameof(Supplier.SupplierCategoryID)" Caption="Category" DataAsync="@supplierService.GetSupplierCategoriesAsync"
                              ValueFieldName="@nameof(SupplierCategory.SupplierCategoryID)" TextFieldName="@nameof(SupplierCategory.SupplierCategoryName)" />
    <DxDataGridComboBoxColumn Field="@nameof(Supplier.DeliveryMethodID)" Caption="Delivery Method" DataAsync="@supplierService.GetDeliveryMethodsAsync"
                              ValueFieldName="@nameof(DeliveryMethod.DeliveryMethodID)" TextFieldName="@nameof(DeliveryMethod.DeliveryMethodName)" />
    <DxDataGridColumn Field="@nameof(Supplier.PhoneNumber)" Caption="Phone Number" />
    <DxDataGridColumn Field="@nameof(Supplier.BankAccountBranch)" />
    <DxDataGridColumn Field="@nameof(Supplier.BankAccountNumber)" />
</DxDataGrid>

<CodeSnippet_Grid_DataEditing_EditMode></CodeSnippet_Grid_DataEditing_EditMode>

@code {
    IEnumerable<DataGridEditMode> EditModes { get; } = Enum.GetValues(typeof(DataGridEditMode)).Cast<DataGridEditMode>();
    private DataGridEditMode currentEditMode { get; set; } = DataGridEditMode.EditForm;
    public DataGridEditMode CurrentEditMode {
        get => currentEditMode;
        set {
            currentEditMode = value;
            grid.CancelRowEdit();
        }
    }
    DxDataGrid<Supplier> grid;
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender)
            await grid.StartRowEdit(await supplierService.GetSupplierByIdAsync(2));
    }
    Task OnRowRemoving(Supplier dataItem) {
        return supplierService.Remove(dataItem);
    }
    Task OnRowUpdating(Supplier dataItem, IDictionary<string, object> newValue) {
        return supplierService.Update(dataItem, newValue);
    }
    Task OnRowInserting(IDictionary<string, object> newValue) {
        return supplierService.Insert(newValue);
    }
    Task OnInitNewRow(Dictionary<string, object> values) {
        values.Add("SupplierCategoryID", 1);
        values.Add("DeliveryMethodID", 1);
        values.Add("PhoneNumber", "(000) 000-0000");
        values.Add("BankAccountNumber", "0000000000");
        return Task.CompletedTask;
    }
}
