@inherits LayoutComponentBase
@implements IDisposable
@inject DemoConfiguration Configuration
@inject DemoThemesConfiguration Themes

<DemoScriptLoader @ref=@pageHelper Src="_content/BlazorDemo/lib/page-helper.js" />

<div class="demo-header-container">
    <nav class="demo-header p-0 navbar navbar-dark">
        <DemoLayoutToggleButton @bind-Toggled="@LayoutToggled" />
        <NavLink class="logo-image text-body" href="" Match="NavLinkMatch.All" />
        <div class="demo-btn-container d-flex">
            <a class="download-btn navbar-toggler d-inline-block bg-primary text-white border-0" href="https://go.devexpress.com/DevexpressDownload_UniversalTrial.aspx" target="_blank" title="Free Trial">
                <span class="demo-download-icon"></span>
            </a>
            <div class="@($"bg-light text-dark d-inline-block theme-settings {ThemeSwitcherShown}")">
                <a class="nav-item nav-link" @onclick="@ToggleThemeSwitcherPanel" @onclick:preventDefault href="#">
                    <span class="demo-theme-icon"></span>
                </a>
            </div>
        </div>
        <ThemeSwitcher @bind-Shown="@ThemeSwitcherShown" @bind-ThemeName="@ThemeName" />
    </nav>
</div>
<div class="demo-breadcrumbs-container bg-light">
    <div class="demo-breadcrumbs @LayoutStateCssClass">
        <DemoBreadcrumbs></DemoBreadcrumbs>
    </div>
</div>
<div class="demo-content-container @(IsFirstTimeRendered ? "animated" : "")" @ref="@contentContainerRef">
    <div class="demo-content @LayoutStateCssClass">
        <div class="sidebar">
            <DemoSearchEditor @bind-SearchString="@SearchString" />
            <DxScrollView ScriptLoaded="@ScrollViewScriptLoaded">
                <DemoSearchResultList SearchString="@SearchString" SearchResults="@SearchResults" />
                <NavMenuFactoryComponent />
            </DxScrollView>
            <div class="info-wrapper">
                <div class="version">Version: @DemoVersion.Version</div>
                <div class="copyright">
                    <span>Copyright &copy; 2000-</span><span>@DateTimeNowYear</span>
                    Developer Express Inc
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <CascadingValue Value="@ScrollToTargetLocked" Name="ScrollToTargetLocked">
                    <CascadingValue Value="@ThemeName" Name="ThemeName">
                        @Body
                    </CascadingValue>
                </CascadingValue>
            </div>
            <div class="content-footer"></div>
        </div>
        @if(!_isDesktop) {
            <DemoModalBackdrop Shown="@ModalBackgroundShown" ShownChanged="@ModalBackdropShownChanged" />
        }
    </div>
</div>

@code {
    static readonly int DateTimeNowYear = DateTime.Now.Year;

    string _themeName;
    bool _layoutToggled;
    bool _themeSwitcherShown;
    bool _isDesktop = true;
    string _searchString = "";
    ElementReference contentContainerRef;

    DemoScriptLoader pageHelper;

    [Inject]
    IDemoVersion DemoVersion { get; set; }
    [Inject]
    NavigationManager NavigationManager { get; set; }
    [Inject]
    IJSRuntime JsRuntime { get; set; }


    protected string ThemeName {
        get { return _themeName; }
        set {
            if(_themeName != value) {
                _themeName = value;
                Themes.SetActiveThemeByName(value);
            }
        }
    }

    protected override void OnInitialized() {
        ThemeName = Themes.ActiveTheme.Name;
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    void TryRedirect(string url) {
        if(Configuration.Redirect.TryGetValue(url.Substring(NavigationManager.BaseUri.Length), out var uri)) {
            NavigationManager.NavigateTo(uri, true);
        };
    }
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        TryRedirect(NavigationManager.Uri);
        if(firstRender) {
            await ScrollToMainTopIfNeeded(NavigationManager.Uri);

            var themeName = await pageHelper.InvokeAsync<string>("DemoPageHelper.themes.getThemeName");
            if(!string.IsNullOrEmpty(themeName))
                ThemeName = themeName;
            await pageHelper.InvokeVoidAsync("DemoPageHelper.demoMatchesQuery", "(min-width: 1200px)", DotNetObjectReference.Create(this));
            await pageHelper.InvokeVoidAsync("DemoPageHelper.patchAppElement");
        } else {
            await pageHelper.InvokeVoidAsync("DemoPageHelper.themes.setThemeName", ThemeName);
            if(_isDesktop && SavedLayoutToggled != LayoutToggled)
                await pageHelper.InvokeVoidAsync("DemoPageHelper.raiseWindowOnResize");
        }
        if(!ScrollToTargetLocked)
            await ScrollToTargetIfNeeded(NavigationManager.Uri);
        SavedLayoutToggled = LayoutToggled;
        IsFirstTimeRendered = true;
    }
    async void OnLocationChanged(object sender, LocationChangedEventArgs args) {
        TryRedirect(args.Location);
        ThemeSwitcherShown = false;
        if(!_isDesktop) {
            LayoutToggled = false;
        }
        await ScrollToMainTopIfNeeded(args.Location);
        await InvokeAsync(StateHasChanged);
    }

    [JSInvokable]
    public async Task OnQueryChanged(bool isDesktop) {
        if(_isDesktop != isDesktop) {
            _isDesktop = isDesktop;
            LayoutToggled = false;
            ThemeSwitcherShown = false;
            await InvokeAsync(StateHasChanged);
        }
    }

    bool LayoutToggled {
        get { return _layoutToggled; }
        set {
            if(_layoutToggled != value) {
                _layoutToggled = value;
                if(!_isDesktop && _layoutToggled)
                    ThemeSwitcherShown = false;
            }
        }
    }
    string LayoutStateCssClass { get { return IsFirstTimeRendered ? ((_isDesktop && LayoutToggled || !_isDesktop && !LayoutToggled) ? "sidebar-hidden" : "sidebar-shown") : ""; } }
    bool SavedLayoutToggled { get; set; }
    bool ModalBackgroundShown { get { return !_isDesktop && (ThemeSwitcherShown || LayoutToggled); } }
    bool IsFirstTimeRendered { get; set; }

    bool ThemeSwitcherShown {
        get { return _themeSwitcherShown; }
        set {
            if(_themeSwitcherShown != value) {
                _themeSwitcherShown = value;
                if(!_isDesktop && _themeSwitcherShown)
                    LayoutToggled = false;
            }
        }
    }

    void ToggleThemeSwitcherPanel() {
        ThemeSwitcherShown = !ThemeSwitcherShown;
    }

    void ModalBackdropShownChanged(bool shown) {
        if(!shown) {
            ThemeSwitcherShown = false;
            LayoutToggled = false;
        }
    }


    public string SearchString {
        get { return _searchString; }
        set {
            if(_searchString != value) {
                _searchString = value;
                InvokeAsync(UpdateSearchResults);
            }
        }
    }
    public List<DemoSearchResult> SearchResults { get; set; }
    async Task UpdateSearchResults() {
        var searchResults = (SearchString != null && SearchString.Length > 2) ? Configuration.DoSearch(SearchString) : null;
        if(SearchResults != searchResults) {
            SearchResults = searchResults;
            await InvokeAsync(StateHasChanged);
        }
    }

    bool HasAnchorInUrl(string uri) {
        return !string.IsNullOrEmpty(NavigationManager.ToAbsoluteUri(uri).Fragment.Replace("#", ""));
    }
    async Task ScrollToMainTopIfNeeded(string uri) {
        if(!HasAnchorInUrl(uri))
            await pageHelper.InvokeVoidAsync("DemoPageHelper.scroll.toElementTop", contentContainerRef);
    }

    bool ScrollToTargetLocked { get; set; } = true;
    async Task ScrollViewScriptLoaded() {
        ScrollToTargetLocked = false;
        await ScrollToTargetIfNeeded(NavigationManager.Uri);
    }
    async Task ScrollToTargetIfNeeded(string uri) {
        if(HasAnchorInUrl(uri))
            await pageHelper.InvokeVoidAsync("DemoPageHelper.scroll.ensureNavigationTargetIsVisible");
    }

    public void Dispose() {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
