<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet>
@(@"<DxChart Data=""@SalesData""
         CssClass=""mw-1100"">
    <DxChartTitle Text=""Sales amount"" />
    <DxChartTooltip>
        <div class=""p-3"">
            <p class=""text-align-center""><b>@context.Point.SeriesName</b></p>
            <p>City: @context.Point.Argument</p>
            <p>Amout: @context.Point.Value</p>
        </div>
    </DxChartTooltip>
    <DxChartBarSeries  Name=""2017"" Filter=""@((SaleInfo s) => s.Date.Year == 2017)"" AggregationMethod=""@Enumerable.Sum"" ArgumentField=""@(s => s.City)"" 
                       ValueField=""@(s => s.Amount)"" />
    <DxChartBarSeries  Name=""2018"" Filter=""@((SaleInfo s) => s.Date.Year == 2018)"" AggregationMethod=""@Enumerable.Sum"" ArgumentField=""@(s => s.City)"" 
                       ValueField=""@(s => s.Amount)"" />
    <DxChartLineSeries Name=""2019"" Filter=""@((SaleInfo s) => s.Date.Year == 2019)"" AggregationMethod=""@Enumerable.Sum"" ArgumentField=""@(s => s.City)"" 
                       ValueField=""@(s => s.Amount)"" />
</DxChart>")
        </CodeSnippet>
    </div>
</div>
