<CodeSnippetTabbed DocLink="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxChartRangeBarSeries-3">
    <CodeSnippetTabPage Text="Razor">@(@"<DxChart Data=""@WeatherForecasts""
         CssClass=""mw-1100"">
    <DxChartRangeBarSeries ValueField=""@((WeatherForecast i) => i.TemperatureF)"" ArgumentField=""@(i => i.Date.Date)"" Name=""Temperature, F"" />
    <DxChartTooltip Enabled=""true"">
        @context.GetRangePoint().Render((rangePoint) =>
            @<div style=""margin: 0.75rem"">
                <div>Max: @rangePoint.EndValue</div>
                <div>Min: @rangePoint.StartValue</div>
            </div>
        )
    </DxChartTooltip>
</DxChart>")</CodeSnippetTabPage>
</CodeSnippetTabbed>
