<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet>
@(@"<DxChart Data=""@WeatherForecasts""
         CssClass=""mw-1100"">
    <DxChartTitle Text=""@($""Temperature in {DateTime.Now.ToString(""MMMM"")}"")"" />
    <DxChartLegend Position=""@RelativePosition.Outside"" VerticalAlignment=""@VerticalEdge.Bottom"" />
    <DxChartPane Name=""TopPane"" />
    <DxChartPane Name=""BottomPane"" />
    <DxChartLineSeries Pane=""TopPane"" Name=""Average Temperature, C"" AggregationMethod=""@((v) => (int)Enumerable.Average(v))"" 
                       ArgumentField=""@(s => s.Date.Date)"" ValueField=""@((WeatherForecast s) => s.TemperatureC)"">
        <DxChartSeriesLabel Visible=""true"" />
    </DxChartLineSeries>
    <DxChartBarSeries Pane=""BottomPane"" Name=""Max Temperature, C"" AggregationMethod=""@((v) => (int)Enumerable.Max(v))"" 
                      ArgumentField=""@(s => s.Date.Date)"" ValueField=""@((WeatherForecast s) => s.TemperatureC)"">
        <DxChartSeriesLabel Visible=""true"" />
    </DxChartBarSeries>
    <DxChartBarSeries Pane=""BottomPane"" Name=""Min Temperature, C"" AggregationMethod=""@((v) => (int)Enumerable.Min(v))"" 
                      ArgumentField=""@(s => s.Date.Date)"" ValueField=""@((WeatherForecast s) => s.TemperatureC)"">
        <DxChartSeriesLabel Visible=""true"" />
    </DxChartBarSeries>
</DxChart>")
        </CodeSnippet>
    </div>
</div>
