@if (!string.IsNullOrWhiteSpace(CurrentTheme))
{
    <link rel="stylesheet" href="@("css/switcher-resources/themes/" + CurrentTheme.ToLower() + "/bootstrap.min.css")" />
}

<div id="settingsbar" class="@(Shown ? "" : "hidden-settings-bar")">
    <nav id="themesMenu">
        <ul class="nav nav-pills">
            @foreach (var themeSet in themeData)
            {
                <li class="nav-item theme-group">@themeSet.Title</li>
                @foreach (var theme in themeSet.Themes)
                {
                    <li class="nav-item" id="themeSet.Title.ToLower()-themes-menu_li">
                        <a class="nav-link @(CurrentTheme == theme ? "active" : "") "
                           href="javascript:;"
                           @onclick="@(() => OnItemClick(theme))">
                            <span class="image @theme.ToLower().Replace(" ", "-")" aria-hidden="true"></span>
                            <span>@theme</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
</div>

@code {
    [Parameter] public bool Shown { get; set; } = false;
    [Parameter] Action<bool> ShownChanged { get; set; }
    string CurrentTheme { get; set; } = "Default";

    public class ThemeSetModel
    {
        public string Title { get; set; }
        public List<string> Themes { get; set; }
    }

    List<ThemeSetModel> themeData = new List<ThemeSetModel>() {
        new ThemeSetModel() { Title = "Color Themes",  Themes = new List<string>() {
            "Default",
        } },
        new ThemeSetModel() { Title = "DevExpress Themes",  Themes = new List<string>() {
            "Purple",
            "Office White"
        } },
        new ThemeSetModel() { Title = "Bootswatch Themes",  Themes = new List<string>() {
            "cerulean",
            "Cosmo",
            "Cyborg",
            "Darkly",
            "Flatly",
            "Journal",
            "Litera",
            "Lumen",
            "Lux",
            "Materia",
            "Minty",
            "Pulse",
            "Sandstone",
            "Simplex",
            "Sketchy",
            "Slate",
            "Solar",
            "Spacelab",
            "Superhero",
            "united",
            "Yeti",
        } },
    };


    void OnItemClick(string theme)
    {
        CurrentTheme = theme;
        Shown = !Shown;
        ShownChanged?.Invoke(Shown);
    }
}