@inject NwindDataService NwindDataService
<DemoPageSectionComponent Id="Navigation-Tabs-ScrollMode" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        @if (Employees == null) {
            <p>
                <em>Loading...</em>
            </p>
        } else {
            <div class="w-100 ch-220">
                <DemoResizableContent>
                    <div>
                        <DxTabs ScrollMode="@ScrollMode" RenderMode="TabsRenderMode.AllTabs" SizeMode="Params.SizeMode">
                            @foreach (var employee in Employees) {
                                <DxTabPage Text="@(employee.FirstName + ' ' + employee.LastName)">
                                    <div class="d-flex pt-2 demo-employee-card">
                                        <div class="flex-shrink-0">
                                            <img src="@(StaticAssetUtils.GetImagePath(employee.ImageFileName))" width="125"/>
                                        </div>
                                        <div class="flex-grow-1 ps-3">
                                            <h5>@employee.Title @employee.FirstName @employee.LastName</h5>
                                            <p>
                                                <b>Birthday:</b> @employee.BirthDate?.ToShortDateString()
                                            </p>
                                            <p>@employee.Notes</p>
                                        </div>
                                    </div>
                                </DxTabPage>
                            }

                        </DxTabs>
                    </div>
                </DemoResizableContent>
            </div>
        }
    </ChildContentWithParameters>
    <OptionsContent>
        <OptionComboBox Label="Scroll Mode:"
                        Data="@ScrollModes"
                        @bind-Value="ScrollMode">
        </OptionComboBox>
    </OptionsContent>

    @code {
        IEnumerable<TabsScrollMode> ScrollModes { get; } = new[] { TabsScrollMode.Auto, TabsScrollMode.NavButtons, TabsScrollMode.Swipe, TabsScrollMode.NoScroll };
        TabsScrollMode ScrollMode { get; set; } = TabsScrollMode.Auto;
        IEnumerable<Employee> Employees;

        protected override async Task OnInitializedAsync() {
            Employees = await NwindDataService.GetEmployeesAsync();
        }
    }

</DemoPageSectionComponent>
