<CodeSnippetTabbed DocLink="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxChart-1#tooltips">
    <CodeSnippetTabPage Text="Razor">@(@"<DxChart Data=""@SalesData""
         CssClass=""mw-1100"">
    <DxChartTitle Text=""Sales amount"" />
    <DxChartTooltip Enabled=""true"" Position=""RelativePosition.Outside"">
       <div style=""margin: 0.75rem"">
            <div class=""font-weight-bold"">@context.Point.SeriesName</div>
            <div>City: @context.Point.Argument</div>
            <div>Amount: @context.Point.Value</div>
       </div>
    </DxChartTooltip>
    <DxChartBarSeries  Name=""2017"" Filter=""@((SaleInfo s) => s.Date.Year == 2017)"" AggregationMethod=""Enumerable.Sum"" ArgumentField=""@(s => s.City)""
                       ValueField=""@(s => s.Amount)"" />
    <DxChartBarSeries  Name=""2018"" Filter=""@((SaleInfo s) => s.Date.Year == 2018)"" AggregationMethod=""Enumerable.Sum"" ArgumentField=""@(s => s.City)""
                       ValueField=""@(s => s.Amount)"" />
    <DxChartLineSeries Name=""2019"" Filter=""@((SaleInfo s) => s.Date.Year == 2019)"" AggregationMethod=""Enumerable.Sum"" ArgumentField=""@(s => s.City)""
                       ValueField=""@(s => s.Amount)"" />
</DxChart>")</CodeSnippetTabPage>
</CodeSnippetTabbed>
