@page "/GridSortData"
@layout DataProviderAccessArea<IFlatProductsProvider>
@inject IFlatProductsProvider FlatProductService

<div class="demo-description mw-1100">
    <h2>Sort Data</h2>
    <p>
        Users can click a column header to sort the Data Grid by this column. They can click the header again to change the sort order. The sort glyph indicates the column's current sort order.
        To sort the Data Grid against multiple columns, users should click column headers with the <b>Shift</b> key pressed.
        To clear sorting, users can hold the <b>Ctrl</b> key and click the column headers.
    </p>
    <p>
        Set the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1.AllowSort">DxDataGrid.AllowSort</a> property to <b>false</b> to disable sorting in the entire Data Grid.
        Use a column's <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGridColumn.AllowSort">AllowSort</a> property to enable/disable sorting by individual columns.
    </p>
    <p>
        Use the following column properties to sort data in code:
    </p>
    <ul>
        <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGridColumn.SortOrder">SortOrder</a> - Specifies a column's sort order.</li>
        <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGridColumn.SortIndex">SortIndex</a> - Specifies a column's position among sorted columns.</li>
    </ul>
    <p>
        In this demo, values in the <b>ID</b> column cannot be sorted.
        The sort order for the <b>Category</b> and <b>Subcategory</b> columns are specified in the Data Grid’s markup (see the code below).
    </p>
</div>

<DxDataGrid DataAsync="@FlatProductService.LoadAsync" CssClass="mw-1100">
    <DxDataGridColumn Field="@nameof(ProductFlat.Id)" Caption="ID" AllowSort="false" Width="50px"></DxDataGridColumn>
    <DxDataGridColumn Field="@nameof(ProductFlat.Category)" SortOrder="DataGridColumnSortOrder.Descending" Width="350px" SortIndex="0"></DxDataGridColumn>
    <DxDataGridColumn Field="@nameof(ProductFlat.Subcategory)" SortOrder="DataGridColumnSortOrder.Ascending" Width="350px" SortIndex="1"></DxDataGridColumn>
    <DxDataGridColumn Field="@nameof(ProductFlat.ProductName)" Caption="Product Name" Width="350px"></DxDataGridColumn>
</DxDataGrid>

<CodeSnippet_Grid_SortData></CodeSnippet_Grid_SortData>
