<div class="code-snippet card demo-card-wide mw-1100">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted">
        <CodeSnippet>
@(@"<DxDataGrid Data=""@Orders""
            ShowFilterRow=""true""
            CssClass=""mw-1100"">
    <DxDataGridDateEditColumn Field=""@nameof(Order.OrderDate)""
                              DisplayFormat=""D""
                              Width=""240px"">
    </DxDataGridDateEditColumn>
    <DxDataGridComboBoxColumn Field=""@nameof(Order.CountryId)""
                              Caption=""Ship Country""
                              Data=""@Countries""
                              ValueFieldName=""@nameof(Country.Id)""
                              TextFieldName=""@nameof(Country.CountryName)""
                              FilteringMode=""DataGridFilteringMode.Contains""
                              Width=""250px"">
    </DxDataGridComboBoxColumn>
    <DxDataGridSpinEditColumn Field=""@nameof(Order.UnitPrice)""
                              DisplayFormat=""c""
                              Width=""120px"">
    </DxDataGridSpinEditColumn>
    <DxDataGridColumn Field=""@nameof(Order.Product)"">
    </DxDataGridColumn>
    <DxDataGridCheckBoxColumn Field=""@nameof(Order.OrderStatus)""
                              FilterTextChecked=""Delivered""
                              FilterTextUnchecked=""Processing""
                              FilterTextIndeterminate=""In transit""
                              ValueChecked=""@OrderStatus.Delivered""
                              ValueUnchecked=""@OrderStatus.Processing""
                              ValueIndeterminate=""@OrderStatus.InTransit""
                              Caption=""Order Status"">
    </DxDataGridCheckBoxColumn>
    <DxDataGridCommandColumn NewButtonVisible=""false""
                             EditButtonVisible=""false""
                             DeleteButtonVisible=""false""
                             Width=""70px"">
    </DxDataGridCommandColumn>
</DxDataGrid>

@code {
    IEnumerable<Order> Orders;
    IEnumerable<Country> Countries;

    protected override async Task OnInitializedAsync()
    {
        Countries = await CountryNamesService.LoadAsync();
        Orders = await OrderRepository.Load();
    }
}")
        </CodeSnippet>
    </div>
</div>
