<div class="code-snippet card demo-card-wide mw-1100">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted">
        <CodeSnippet>
@(@"<DxDataGrid Data=""@Vacancies""
            ShowPager=""true""
            ShowGroupPanel=""true""
            CssClass=""mw-1100"">
    <DxDataGridColumn Field=""@nameof(Vacancy.Id)"" Width=""70px"" AllowGroup=""false""></DxDataGridColumn>
    <DxDataGridComboBoxColumn Field=""@nameof(Vacancy.Region)"" Data=""@VacancyRepository.Regions"" GroupIndex=""0""></DxDataGridComboBoxColumn>
    <DxDataGridColumn Field=""@nameof(Vacancy.City)"" GroupIndex=""1""></DxDataGridColumn>
    <DxDataGridColumn Field=""@nameof(Vacancy.Description)"" Caption=""Vacancy""></DxDataGridColumn>
</DxDataGrid>

@code {
    IEnumerable<Vacancy> Vacancies;

    protected override async Task OnInitializedAsync()
    {
        Vacancies = await VacancyRepository.GetVacancies(100);
    }
}")
        </CodeSnippet>
    </div>
</div>
