@page "/"

@inject NavigationManager NavigationManager

@{
    RenderFragment<DemoProductInfo> DemoProduct = (info) =>
    @<div class="col-xl-4 col-sm-6 col-xs-12">
        <div class="jumbotron shadow-sm demo-product" @onclick="@(() => { NavigationManager.NavigateTo(info.PageUri); })">
            <div class="media p-2">
                <span class="mr-3 bg-primary demo-product-icon demo-product-icon-@info.IconName" title="@info.Title"></span>
                <div class="media-body">
                    <h5 class="mt-0 text-body">@info.Title</h5>
                    <span class="demo-product-info text-muted">@info.Description</span>
                </div>
            </div>
        </div>
    </div>;
}

<div class="demo-description demo-products">
    <h1 class="mb-4">DevExpress UI Components for Blazor</h1>

    <p class="mb-5">The <a class="helplink" href="https://www.devexpress.com/blazor/" target="_blank">DevExpress UI for Blazor</a> ships with native user interface components (including a Data Grid, Pivot Grid, Charts, and Scheduler) so you can design rich user experiences in your business apps.</p>

    <div class="row mb-3">
        @foreach (var info in DemoProductsInfo)
        {
            @DemoProduct.Invoke(info)
        }
    </div>
</div>

<h2 class="mb-4">Getting Started</h2>

<p>
    Our components come with extensive reference material, documentation, examples and step-by-step instructions. This material will help you not only start using our products from scratch, but also learn about all of their capabilities much faster.
</p>

<ul>
    <li><a class="helplink" href="https://github.com/DevExpress/Blazor#set-up-your-environment" target="_blank">Set up your Environment</a></li>
    <li><a class="helplink" href="https://github.com/DevExpress/Blazor#how-to-run-this-demo-locally" target="_blank">Run this demo on your machine</a></li>
    <li><a class="helplink" href="https://github.com/DevExpress/Blazor#how-to-create-a-new-project" target="_blank">Create and configure a new project</a></li>
</ul>

<h2 class="my-4">Helpful Resources</h2>

<p>
    Refer to the following online resources to get started with DevExpress Blazor components:
</p>

<ul>
    <li><a class="helplink" href="https://docs.devexpress.com/Blazor/400725/blazor-components" target="_blank">Documentation</a></li>
    <li><a class="helplink" href="https://github.com/DevExpress/Blazor/blob/master/examples.md" target="_blank">Examples</a></li>
    <li><a class="helplink" href="https://www.devexpress.com/support/training/blazor/" target="_blank">Free Blazor training course</a></li>
    <li><a class="helplink" href="https://dotnet.microsoft.com/apps/aspnet/web-apps/client" target="_blank">Official Blazor documentation</a></li>
</ul>

<h2 class="my-4">Troubleshooting</h2>

<p>
    Need help or require more information? Explore the <a class="helplink" href="https://github.com/DevExpress/Blazor#troubleshooting" target="_blank">Troubleshooting</a> section in our GitHub repository or submit your support inquiries via the <a class="helplink" href="https://supportcenter.devexpress.com/" target="_blank">DevExpress Support Center</a> for assistance.
</p>

@code {
    class DemoProductInfo
    {
        public string Title { get; set; }

        public string PageUri { get; set; }

        public string IconName { get; set; }

        public string Description { get; set; }
    }

    List<DemoProductInfo> DemoProductsInfo = new List<DemoProductInfo>() {
        new DemoProductInfo {
            Title = "Data Grid",
            PageUri = "GridColumnTypes",
            IconName = "grid",
            Description = "A fast and responsive grid component with unlimited master-detail levels and unmatched data shaping capabilities."
        },
        new DemoProductInfo {
            Title = "Pivot Grid",
            PageUri = "PivotGrid",
            IconName = "pivot",
            Description = "An Excel-inspired pivot table control engineered for multi-dimensional data analysis and cross-tab reporting."
        },
        new DemoProductInfo {
            Title = "Charts",
            PageUri = "ChartSeriesTypes",
            IconName = "charts",
            Description = "Fast and lightweight chart component with 20+ data presentation types."
        },
        new DemoProductInfo {
            Title = "Scheduler",
            PageUri = "SchedulerViewTypes",
            IconName = "scheduler",
            Description = "A fully-featured scheduling solution that easily displays a detailed snapshot of events/appointments in your web application across a single day or a week."
        },
        new DemoProductInfo {
            Title = "Data Editors",
            PageUri = "Calendar",
            IconName = "editors",
            Description = "An extensive suite of data editors to be used standalone or within container components."
        },
        new DemoProductInfo {
            Title = "Navigation and Layout",
            PageUri = "FormLayout",
            IconName = "navigation",
            Description = "A suite of navigation components including TreeView and Pager, in conjunction with layout components that are designed to make your UI adaptive."
        }
    };
}
