@page "/TagBoxVirtualScrolling"

<div class="demo-description" id="VirtualScrolling">
    <h2><DemoNavLink Link="TagBox#VirtualScrolling" />TagBox - Virtual Scrolling</h2>
    <p>
        Use the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxTagBoxBase-1.ListRenderMode">ListRenderMode</a> property to specify how the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxTagBox-1">TagBox</a> loads the item list. 
    </p>
    <ul>
        <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.ListRenderMode">Entire</a> - The TagBox loads the entire item list. Use this option for small item lists where scrolling should work instantly.</li>
        <li><a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.ListRenderMode">Virtual</a> - The TagBox loads visible items only. Use this option to improve performance when the list contains to many items to load simultaneously.</li>
    </ul>
    <p>
        In this demo, the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxTagBoxBase-1.ListRenderMode">ListRenderMode</a> property is set to <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.ListRenderMode">ListRenderMode.Virtual</a>.
    </p>
</div>

<div class="card demo-card">
    <div class="card-body mw-480" style="height: 280px;">
        <DxTagBox Data="@Strings"
                  ListRenderMode="@ListRenderMode.Virtual"
                  @bind-SelectedItems="@SelectedItems"
                  @bind-DropDownVisible="@DropDownVisible"
                  ClearButtonDisplayMode="@DataEditorClearButtonDisplayMode.Auto">
        </DxTagBox>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Editor_TagBox_VirtualScrolling></CodeSnippet_Editor_TagBox_VirtualScrolling>
    </div>
</div>

@code {
    IEnumerable<string> SelectedItems { get; set; }

    List<string> Strings = new List<string>();
    protected override void OnInitialized()
    {
        for(int i = 0; i < 1000; i++ )
            Strings.Add($"Option #{i}");
        SelectedItems = new List<string> { Strings[0], Strings[1] };
    }

     bool DropDownVisible { get; set; } = true;
}