<DemoPageSectionComponent Id="Navigation-FormLayout-Groups"
                          ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <DxFormLayout
                      ItemSizeMode="Params.SizeMode"
                      CssClass="w-100">
            <DxFormLayoutGroup Caption="Personal Information" ColSpanMd="6">
                <DxFormLayoutItem Caption="First Name:" ColSpanMd="12">
                    <DxTextBox @bind-Text="@FirstName" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Last Name:" ColSpanMd="12">
                    <DxTextBox @bind-Text="@LastName" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Birth Date:" ColSpanMd="12">
                    <DxDateEdit @bind-Date="@BirthDate" />
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
            <DxFormLayoutGroup ColSpanMd="6">
                <HeaderTemplate>
                    <div class="float-start">
                        Work Information
                    </div>
                    <div class="demo-unemployed-checkbox-fs">
                        <DxCheckBox CheckedChanged="@((bool t) => UnemployedChanged(t))" LabelPosition="LabelPosition.Left" Checked="@Unemployed">Unemployed</DxCheckBox>
                    </div>
                </HeaderTemplate>
                <Items>
                    <DxFormLayoutItem Caption="Position:" ColSpanMd="12">
                        <DxTextBox @bind-Text="@Position" Enabled="!Unemployed" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Hire Date:" ColSpanMd="12">
                        <DxDateEdit @bind-Date="@HireDate" Enabled="!Unemployed" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Notes:" ColSpanMd="12">
                        <DxTextBox @bind-Text="@Notes" Enabled="!Unemployed" />
                    </DxFormLayoutItem>
                </Items>
            </DxFormLayoutGroup>
        </DxFormLayout>

        <div class="row w-100 mx-0">
            <p class="demo-text col-12 mt-2">
                @nameof(FirstName)=<b>@FirstName</b>,
                @nameof(LastName)=<b>@LastName</b>,
                @nameof(BirthDate)=<b>@BirthDate</b>
            </p>
        </div>
        <div class="row w-100 mx-0">
            <p class="demo-text col-12 mt-2">
                @nameof(Position)=<b>@Position</b>,
                @nameof(HireDate)=<b>@HireDate</b>,
                @nameof(Notes)=<b>@Notes</b>
            </p>
        </div>
    </ChildContentWithParameters>

    @code {
        string FirstName { get; set; } = "Nancy";
        string LastName { get; set; } = "Davolio";
        DateTime BirthDate { get; set; } = DateTime.Now.AddYears(-20);
        string Position { get; set; } = "Sales Representative";
        DateTime? HireDate { get; set; } = DateTime.Now.AddYears(-20);
        string Notes { get; set; } = "Education includes a BA in psychology.";
        bool Unemployed { get; set; }
        void UnemployedChanged(bool value) {
            if(value) {
                Position = Notes = null;
                HireDate = null;
            }
            Unemployed = value;
        }
    }
</DemoPageSectionComponent>
